<form>
    <div class="name">
        <mat-form-field class="input-name" appearance="fill">
            <mat-label>Name:</mat-label>
            <input matInput placeholder="Enter your name">
        </mat-form-field>
    </div>
    <div class="info">
        <div class="cpf">
            <mat-form-field class="input-cpf" appearance="fill">
                <mat-label>CPF:</mat-label>
                <input matInput placeholder="Enter your cpf">
            </mat-form-field>
        </div>
        <div class="nascimentDate">
            <mat-form-field class="input-nasciment-date" appearance="fill">
                <mat-label>Nasciment Date:</mat-label>
                <input matInput placeholder="Select date">
            </mat-form-field>
        </div>
        <div class="mail">
            <mat-form-field class="input-mail" appearance="fill">
                <mat-label>E-mail:</mat-label>
                <input matInput placeholder="Enter your e-mail">
            </mat-form-field>
        </div>
    </div>

    <div class="address">
        <mat-form-field class="input-address" appearance="fill">
            <mat-label>Address:</mat-label>
            <input matInput placeholder="Enter your address">
        </mat-form-field>
    </div>

    <div class="buttons">
        <div class="save">
            <button mat-raised-button color="primary" (click)="canSave()">Save</button>
        </div>
        <div class="cancel">
            <button mat-raised-button (click)="canCancel()">Cancel</button>
        </div>
    </div>

</form>