.header {
    display: flex;
    position: fixed;
    z-index: 1;
}

.body {
    display: grid;
    grid-template-columns: 15em 1fr;
}

.content {
    display: flex;
    border-radius: 4px;
    background-color: #b3b3b35c;
    height: 100vh;
    margin-top: 5.4em;
}